p + p + p {color: yellow;}

* {font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

h1 {font-size: 30px;}

#h2 {text-transform: uppercase;}

.languages {background-color: #AED0A1;}

[tools] {border-width: 1px;
			border-style: solid;
			border-color: #A8BCD6;
}

section img {height: 70px;
	width: 70px;
	border-radius: 80px;
}

img + ul {list-style-type: none;}

ul ~ p {text-align: center;}

section > ul {letter-spacing: 5px;}